html{
    min-height: 100%;

}


body{
    background-image: linear-gradient(to bottom,blue,deepskyblue);
    min-height: 100%;
    min-width: 100%;
    color: white;
    overflow-x: hidden;
    font-family: "Verdana";
}

a{
    color: blue;
}
/*index.html*/

.mainNavbar{
    margin-top: 2%;
    background-image:linear-gradient(to bottom,blue,darkblue);
}

.AnimeMainNavbar{
    animation: moveMainNavbar linear 1.5s;
}


@keyframes moveMainNavbar {
    0%{
       right: 100%;
    }
    100%{
        right: 0%;
    }
    
}

.nav-menu{
    padding-top: 7%;
    font-size: 24px;
}
.nav-menu a{
    color: white;
}

.navbar-nav li{
    /*background-image: linear-gradient(to bottom,blue,black);*/
    background: darkblue;
    border-right: solid 1px white;
}




.Profile_picture img:hover{
    box-shadow: 0 0 10px 10px rgba(0, 140, 186, 0.5);
}



.Profile_picture img{
    border-radius:100px ;
    height: 175px;
    width: 175px;
    /*border: solid yellow 4px ;*/
}

.content{
    /*background-image: linear-gradient(to bottom,dimgrey,cyan );*/
    animation: visibility linear 3s;
}

@keyframes visibility {
    0%{
        opacity: 0 ;
    }
    25%{
         opacity: 0.25 ;
    }
    50%{
         opacity: 0.5 ;
    }

    75%{
         opacity: 0.75 ;
    }
    100%{
         opacity: 1 ;
    }
}


.Intro{
    float: left;
    margin-left: 2%;
    width: 34%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    height: 400px;
    color:white;
}

.First_row{
    margin-top: 2%;
    height:400px;
}



.Intro h1{
    text-align: center;
}


.slides{
    float: left;
    width: 58%;
    margin-right: 2%;
    margin-left: 4%;
    height: 400px;
}

.a_slide{
    height: 400px;
}

.Second_Row{
    margin-top: 2%;
    height: 250px;

}

.Passion{
    float: left;
    margin-left: 2%;
    width: 35%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    height: 220px;
}

.Contact_me{
    float: left;
    margin-left: 10%;
    width: 40%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    height: 220px;

}

.Passion h1, .Contact_me h1{
    text-align: center;
}

/*Mobile view index.html*/

/*Stack each class on top of each other*/
@media screen and (max-width: 800px) {
     .First_row,.Second_Row{
         display: grid;
         height: auto;
     }
     .Intro{
        width: 100%;
        grid-row: 1;
        margin-top: 2%;
        height: 200px;
        margin-left: 0%;

     }
     .slides{
        width: 100%;
        grid-row: 2;
        grid-column: 0 ;
        margin-top: 2%;
        margin-left: 0%;
     }
     .Passion{
        width: 100%;
        grid-row: 1;
        margin-top: 2%;
        margin-left: 0%;
     }
     .Contact_me{
        width: 100%;
        grid-row: 2;
        margin-top: 2%;
        margin-left: 0%;
     }
}
/*Make second row bigger*/
@media screen and (max-width: 1000px) and (min-width: 800px) {
    .Passion,.Contact_me{
        height: 250px;
    }
    .Second_Row{
        height: 300px;
    }
}




/*Education.html*/

.Edu_First_row{
    margin-top: 2%;
    height:400px;
}

.Bachelor{
    float: left;
    margin-left: 6%;
    width: 35%;
    /*background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);*/
    background-image: linear-gradient(to bottom,darkblue,black);
    height: 400px;
    color:white;
}

.Bachelor h1, .Cegep h1, .High_School h1, .Work h1{
    font-size: 20px;
    text-align: center;
}

.Bachelor ul li, .Cegep ul li, .High_School ul li ,.Work ul li{
    font-size: 14px;
    padding-right: 4%;
}

.Cegep{
    float: left;
    margin-right: 6%;
    margin-left: 8%;
    width: 35%;
    /*background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);*/
    background-image: linear-gradient(to bottom,darkblue,black);
    height: 400px;
    color:white;
}

.High_School{
    float: left;
    margin-left: 6%;
    width: 35%;
    background-image: linear-gradient(to bottom,black,darkblue);
    height: 400px;
    color:white;
}

.Work{
    float: left;
    margin-left: 8%;
    width: 35%;
    margin-right: 6%;
    background-image: linear-gradient(to bottom,black,darkblue);
    height: 400px;
    color:white;

}

.Edu_second_Row{
    height: 450px;
    margin-top: 2%;
}

.Edu_second_Row li{
    padding-bottom: 1%;
}

.Work:hover,.High_School:hover,.Cegep:hover,.Bachelor:hover{
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
}

/*Education responsiveness*/

@media screen and (max-width: 900px) {
     .EdU_First_row,.EdU_second_Row{
         display: grid;
         height: auto;
     }
     .Bachelor{
        width: 100%;
        grid-row: 1;
        margin-top: 2%;
        margin-left: 0%;

     }
     .Cegep{
        width: 100%;
        grid-row: 2;
        grid-column: 0 ;
        margin-top: 2%;
        margin-left: 0%;
     }
     .High_School{
        width: 100%;
        grid-row: 1;
        margin-top: 2%;
        margin-left: 0%;
     }
     .Work{
        width: 100%;
        grid-row: 2;
        margin-top: 2%;
        margin-left: 0%;
     }
}




@media screen and (max-width: 1100px) and (min-width: 900px) {
    .Work,.High_School{
        height: 475px;
    }
    .Cegep,.Bachelor{
        height: 425px;
    }

    .Edu_Second_Row{
        height: 550px;
    }
    .Edu_First_row{
        height: 425px;
    }
}




/*Projects.html*/

.Project_slides{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    height: 500px;
    animation: ComeFromTop linear  1.5s;
}

@keyframes ComeFromTop{
        0% {
            transform: translateY(100%);
        }
        100%{

        }

}


.project_text{
    width: 35%;
    margin-left:7% ;
    float: left;
    margin-top: 3%;
    /*border: 1px solid red;*/
    height: 400px;
}

.project_text h1{
    text-align: center;
}

.project_image{
    margin-top: 1.5%;
    margin-right: 7%;
    margin-left: 4%;
    float: left;
    width: 47%;
    height: 450px;
    /*border: 1px solid red;*/
}

.project_back{
    margin-right: 55%;
}

.project_next{
    margin-left: 55%;
}

.warning{
    font-size: 10px;
}

.carousel-control-next,.carousel-control-prev{
    width: 100px;
}

/*Responsiveness*/
/*@media screen and (max-width: 900px) {
     .carousel-item{
         display: grid;
         height: auto;
     }
     .project_image{
        grid-row: 1;
        margin-top: 2%;
        margin-left: 0%;
        height: 300px;

     }
     .project_text{
        grid-row: 2;
        margin-top: 2%;
        margin-left: 0%;
     }
}*/

/*Skills*/

.Programming_languages{
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(255, 255, 255, 0.23);
    color:white;
    animation: ComeFromLeft 2.5s linear;
}

.Programming_languages h1{
    text-align: center;
}

@keyframes ComeFromLeft{
        0% {
            transform: translateX(200%);
            overflow: hidden;
        }
        50%{
            transform: translateX(-100%);
            overflow: hidden;
        }
        100%{
            overflow: hidden;

        }

}

.language_description{
    font-size: 14px;
}